.models{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 150px;
}
.models__title{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #2C3E50;
}
.models__row{
    padding-top: 100px;
    padding-bottom: 100px;
}
.models__item{
    padding-top: 25px;
    position: relative;
}
.models__lines{
    position: absolute;
    left: 0;
    top: 0;
}
.models__name{
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 10px;
    max-width: 110%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.models__price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
}
